@page "/fetchdata"
@using TechnicalTest.Shared
@inject HttpClient Http

<h1>Financial Report</h1>

<p>The financial report generated dynamically.</p>

@if (reportFinal == null)
{
    <p><em>Loading...</em></p>
}
else
{

    @((MarkupString)reportFinal.RawHtml)
}

@code {
    private ReportFinal reportFinal;

    protected override async Task OnInitializedAsync()
    {
        reportFinal = await Http.GetFromJsonAsync<ReportFinal>("Report/Generate");
    }
}


<style type="text/css">
    .report-table {
        width: 100% !important;
        display: inline-block !important;
        font-size: 12px;
        background-color: aliceblue !important;
    }

        .report-table .report-table-row {
            border-bottom: 1px solid #c5c5c5 !important;
        }

            .report-table .report-table-row:hover {
                cursor: pointer;
                background-color: #ffff99;
            }

        .report-table tbody tr td {
            padding: 5px !important;
            text-align: center !important;
        }

        .report-table .header-style {
            font-weight: bold !important;
            font-size: 12px !important;
        }

        .report-table .merge-style {
            content: '' !important;
        }
</style>